{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - Student list
{% endblock %}
{% block content %}
<h1>Students list</h1>

<ul>
    {% for student in students %}
        <li>{{ student.firstName }} - {{ student.lastName }} - {{ student.email }} - <a class="btn btn-danger" href="{{ path('student_delete', {id: student.id })}}" role="button"> delete </a> </li>
    {% endfor %}
</ul>
{% endblock %}