{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - Student list
{% endblock %}
{% block content %}
<h1 class="text-center">Students list</h1>

        <div class="col-md-12 bloc-tab">
          <table class="table table-striped ">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
            {% for student in students %}

                  <tr>
                    <td><a class="link-single" href="{{path ('student_details', {id: student.id}) }}">{{ student.firstName }}</a></td>
                    <td>{{ student.lastName }}</td>
                    <td>{{ student.email }}</td>
                  </tr>

            {% endfor %}
            </tbody>
          </table>
        </div>
{% endblock %}
