{% extends 'base.html.twig' %}
{% block title %}
{{ parent() }} - Fiche étudiant - {{ students.firstName }} {{ students.lastName }}
{% endblock %}
{% block content %}
<h1 class="text-center">{{ students.firstName }} {{ students.lastName }}</h1>

<div class="col-md-12">
  <table class="table table-striped single-tab">
    <thead>
      <tr>
        <th>Examen</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
    {% for grade in grades %}
          <tr>
            <td>{{ grade.exam }}</td>
            <td>{{ grade.mark }}</td>
          </tr>
    {% endfor %}
    </tbody>
  </table>
</div>



{% endblock %}
