{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }} - Admin list
{% endblock %}
{% block content %}
<h1 class="text-center">Admin Panel</h1>
<div class="row">
  <div class="col-md-6 bloc-tab">
  <div class="header-tab">
    <h3 id="h3-name">Students list</h3>
    <h3 id="h3-btn"><a href="{{path ('student_add') }}">Add<div class="glyphicon glyphicon-plus icon-plus"></div></a></h3>
  </div>
    <table class="table table-striped tets">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Button</th>
        </tr>
      </thead>
        <tbody>
      {% for student in students %}
            <tr>
              <td>{{ student.firstName }}</td>
              <td>{{ student.lastName }}</td>
              <td>{{ student.email }}</td>
              <td>
                <div class="row">
                  <div class="col-md-6">
                    <a class="glyphicon center-block  glyphicon-trash student_delete" href="{{path ('student_delete', {id: student.id}) }}"></a>
                  </div>
                  <div class="col-md-6">
                    <a class="glyphicon glyphicon-pencil" href="{{path ('student_update', {id: student.id}) }}" ></a>
                  </div>
                </div>
              </td>
            </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-6 bloc-tab">
  <div class="header-tab">
    <h3 id="h3-name">Admins list</h3>
    <h3 id="h3-btn"><a href="{{path ('admin_add') }}">Add<div class="glyphicon glyphicon-plus icon-plus"></div></a></h3>
  </div>
    <table class="table table-striped tets">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Button</th>
        </tr>
      </thead>
        <tbody>
      {% for admin in admins %}
            <tr>
              <td>{{ admin.username }}</td>
              <td>{{ admin.email }}</td>
              <td>
                  <a class="glyphicon center-block  glyphicon-trash student_delete" href="{{path ('admin_delete', {id: admin.id}) }}"></a>
              </td>
            </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row bloc-2-tab">
  <div class="col-md-6">
    <div class="header-tab">
      <h3 id="h3-name">Exams list</h3>
      <h3 id="h3-btn"><a href="{{path ('exam_add') }}">Add<div class="glyphicon glyphicon-plus icon-plus"></div></a></h3>
    </div>
    <table class="table table-striped ">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Date</th>
          <th>Button</a></th>
        </tr>
      </thead>
        <tbody>
      {% for exam in exams %}
            <tr>
              <td>{{ exam.name }}</td>
              <td>{{ exam.description }}</td>
              <td>{{ exam.date|date('Y-m-d') }}</td>
              <td>
                <div class="row">
                  <div class="col-md-6">
                    <a class="glyphicon center-block  glyphicon-trash exam_delete" href="{{path ('exam_delete', {id: exam.id}) }}"></a>
                  </div>
                  <div class="col-md-6">
                    <a class="glyphicon glyphicon-pencil" href="{{path ('exam_update', {id: exam.id}) }}"></a>
                  </div>
                </div>
              </td>
            </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <div class="header-tab">
      <h3 id="h3-name">Grades list</h3>
      <h3 id="h3-btn"><a href="{{path ('grade_add') }}">Add<div class="glyphicon glyphicon-plus icon-plus"></div></a></h3>
    </div>
    <table class="table table-striped tab-grade">
      <thead>
        <tr>
          <th>Élève</th>
          <th>Examen</th>
          <th>Note</th>
          <th>Button</th>
        </tr>
      </thead>
        <tbody>
      {% for grade in grades %}
            <tr>
              <td>{{ grade.student }}</td>
              <td>{{ grade.exam }}</td>
              <td>{{ grade.mark }}</td>
              <td>
                <div class="row">
                  <div class="col-md-6">
                    <a class="glyphicon center-block  glyphicon-trash grade_delete" href="{{path ('grade_delete', {id: grade.id}) }}"></a>
                  </div>
                  <div class="col-md-6">
                    <a class="glyphicon glyphicon-pencil" href="{{path ('grade_update', {id: grade.id}) }}"></a>
                  </div>
                </div>
              </td>
            </tr>
      {% endfor %}
        </tbody>
    </table>
  </div>
</div>

{% endblock %}
